# Git ignore file
__pycache__/
*.pyc
*.pyo
*.log
.cache/
.env
.DS_Store
.idea/
.vscode/
*.sqlite3
*.db
*.bak
*.tmp
*.swp
*.swo
*.egg-info/
node_modules/
PRD_LOCAL.md

# Add any other files or folders you want Git to ignore below
